:root {
    --terracota: rgba(150, 60, 40, 1);
    --beige: #f4ece6;
}

html{
    width: 100%;
    height: 100%;
    background-color: var(--beige);
    background: url('files/talabera.png');
    background-size: cover;
    background-repeat: repeat;
    background-size: 20%;
    justify-content: center;
    justify-items: center;
}
body {
    width: 80%;
    margin: 0;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    background-color: white;
    color: #333;
}
/* Portada */
.hero {
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}
.start {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
                url('files/fondoHM.jpeg') no-repeat center center fixed;
    background-size: cover;
    background-position: center;
    border-bottom: 8vh solid transparent;
    border-image-source: url('files/rasgo1.png');
    border-image-slice: 100 fill;
    border-image-repeat: round;
}
.end {
    display: grid;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
        url('files/fondoHM2.jpeg') no-repeat center center fixed;
    background-size: cover;
    background-position: center;
    border-top: 8vh solid;
    border-image-source: url('files/rasgo2.png');
    border-image-slice: 100 fill; 
    border-image-repeat: round;
    ;
}
.hero h3 {
    font-family: FuenteBoda;
    font-size: 2rem;
    color: white;
    margin: 0;
}

/* Reproductor */
.music-section {
    padding: 50px 20px;
    text-align: center;
}
.music-section h3 {
    font-family: FuenteBoda;
    font-size: 3.5rem;
    margin-bottom: 1rem;
    color: black
}
.player {
    max-width: 400px;
    margin: 0 auto;
}
.progress-area {
    display: flex;
    align-items: center;
    gap: 10px;
}
input[type="range"] {
    flex: 1;
    accent-color: var(--terracota);
}

.controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.play-btn {
    width: 60px;
    height: 60px;
    border: 2px solid var(--terracota);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--terracota);
}
.intro{
    display: grid;
    height: 120vh;
    font-family: TextoBoda;
    font-size: 1rem;
    margin: 20px 0;
    color: var(--terracota);
}
.intro h2{
    color: black;
    font-family: FuenteBoda;
    font-size: 2.5rem;
}
.confirm-btn {
    background-color: var(--terracota);
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    letter-spacing: 2px;
    cursor: pointer;
    margin-top: 20px;
}
.card {
    background-color: var(--terracota);
    width: 80%;
    height: 70vh;
    padding: auto 0;
    margin: 0 auto;
    position: relative;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.1);
    display: grid;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
}
.icon img{
    width: 4rem;
    filter: invert(1);
}
.content {
    color: white;
    letter-spacing: 2px;
    line-height: 1.6;
    z-index: 1;
    padding: 0 20px;
}
.button {
    font-family: TextoBoda;
    width: auto;
    margin: 0 auto;
    background-color: white;
    color: var(--terracota);
    padding: 10px 25px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1px;
    z-index: 1;
}
.asistencia {
    background-color: var(--terracota);
    color: white;
}
#asistencia h1{
    font-family: FuenteBoda;
    font-size: 3rem;
    color: black;
}
#asistencia p{
    width: 90%;
    margin: auto;
    padding-bottom: 2rem ;
    font-family: TextoBoda;
    font-size: 1rem;
}
.corner-decoration {
    position: absolute;
    bottom: 15px;
    left: 15px;
    width: 150px;
    height: 150px;
    filter: invert(1) brightness(10);
    background-image: url(files/corazon.png);
    background-size: 80% ;
    background-repeat: no-repeat;
    background-position: bottom left;
}
.itinerario h1{
    font-family: FuenteBoda;
    font-size: 4rem;
    color: black;
}
.itinerario table img{
    filter: invert(1);
    width: 3rem;
}
.hora{
    color: var(--terracota);
    font-family: TextoBoda;
}
.icono{
    width: 5rem;
    background-color: var(--terracota);
    border-radius: 5rem;
    padding: 1rem;
    font-family: FuenteBoda;
    font-size: 1.5rem;
    color: white;
}
#contador {
  font-family: TextoBoda;
  text-align: center;
  color: white;
  background-color: rgba(61, 58, 57, 0.5);
  padding: 10px;
  border-radius: 15px;
  max-width: 500px;
  margin: 20px auto;
  box-shadow: 0 4px 15px rgba(0,0,0,0.05);
}

#reloj {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.unidad {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilo para los números */
#reloj span {
  background: #ffffff;
  border: 1px solid #e0d3c1; /* Color dorado suave/champán */
  color: var(--terracota);
  font-size: 2.5rem;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 8px;
  min-width: 60px;
  display: block;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.02);
}
.etiqueta {
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 8px;
  color: white;
}
@font-face {
    font-family: 'FuenteBoda';
    src: url('fonts/Tangerine-Bold.ttf');
}

@font-face {
    font-family: 'TextoBoda';
    src: url('fonts/Tinos-Bold.ttf');
}